@import '../styles/constants';


.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-input {
  @include form-input;
  background-color: $inputColorGrey;
}

.form-input::placeholder {
  color: $grey;
}
.password-container {
  position: relative;
}

.password-img {
  width: 35px;
  position: absolute;
  top: 28%;
  right: 15px;
  cursor: pointer;
}
