@import '../styles/constants';


.modal-wrapper.css-79ws1d-MuiModal-root {
  top: 420px;
}


.modal-container.css-ucc8ak-JoyModalDialog-root {
  background-color: $modalBackground;
  border: none;
  color: white;
  padding: 35px 50px;
  gap: 35px;
  width: 410px;
  position: relative;
}

.modal-tittle.css-107zp01-JoyDialogTitle-root {
  position: relative;
  gap: 20px;
  align-items: center;
}

.modal-plane.css-13gzoxo-JoyModalClose-root {
  top: 30px;
  right: 15px;
  border-radius: 50%;
  border: 0.8px solid $grey;
}

.modal-content.MuiDialogContent-root {
  text-align: center;
  color: $grey;
}

.modal-arrow.css-i4bv87-MuiSvgIcon-root {
  min-width: var(--IconButton-size, 2.25rem);
  min-height: var(--IconButton-size, 2.25rem);
  fill: $grey;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 10px;

  &:hover {
    border: 1px solid $grey;
    border-radius: 50%;
  }
}

.modal-input {
  @include form-input;
  background-color: $darkGrey;
}


.modal-submit-button {
  @include common-style-button;
  @include color-button;
}


.verify-text {
  text-align: center;
  cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.message-code {
  color: $errorMessageColor;
  position: absolute;
  font-size: 12px;
}