@import '../styles/constants';


.modal-wrapper.css-79ws1d-MuiModal-root {
  top: 420px;
}


.modal-container.css-ucc8ak-JoyModalDialog-root {
  background-color: $modalBackground;
  border: none;
  color: white;
  padding: 35px 50px;
  gap: 45px;
  // min-width: 410px;
  width: 410px;
}

.modal-tittle.css-107zp01-JoyDialogTitle-root {
  position: relative;
  gap: 20px;
  align-items: center;
}

.modal-plane.css-13gzoxo-JoyModalClose-root {
  top: 4px;
  right: 0px;
  border-radius: 50%;
  border: 0.8px solid $grey;
}

.modal-content.MuiDialogContent-root {
  text-align: center;
  color: $grey;
}

.modal-arrow.css-lw08pq-MuiSvgIcon-root {
  min-width: var(--IconButton-size, 2.25rem);
  min-height: var(--IconButton-size, 2.25rem);
  &:hover {
    border: 1px solid $grey;
    border-radius: 50%;
  }
}

.modal-input.css-1eed5fa-MuiInputBase-root-MuiInput-root {
  @include form-input;
  background-color: $darkGrey;
  margin-bottom: 25px;

  &::after {
    border-bottom: none;
  }

  &::before {
    border-bottom: none;
    content: none;
  }
}
.modal-submit-button {
  @include common-style-button;
  @include color-button;
}


.verify-text {
  text-align: center;
}
